body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

#grid {
    margin: auto;
    border: 1px solid blue;
    display: grid;
    /*flex: auto;*/ 
    width: 960px;
    height: 960px;
    /*flex-wrap: wrap;
    justify-content: stretch;
    align-content: stretch;*/
}

.square {
    background-color: white;
    border: 1px solid black;
}
