body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

#grid {
    margin: auto;
    display: flex;
    flex: auto; 
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: stretch;
}

.square {
}
